@media (min-width: 1281px){

    body,main,footer{
            min-width:1281px;
            
        }
    
    html, body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
    }
    
   h3,h2,h1,li, p{
        font-family: 'Roboto', sans-serif;
        font-size:1em;
    
    }
    
    
    
     /*---------------------header-------------------*/
    
    
    
    
     h1{
        color:#fff;
        font-size: 5em;
        margin-left: 35%;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        margin-top: 13%;
        margin-bottom: 0px;
        }
    
    #motto{
        font-family: 'Roboto', sans-serif;
        font-size:3em;
        font-style:italic;
        color:#fff;
        margin-bottom: 5%;
        margin-top: 1%;
        padding-bottom: 5%;
      
    }
    
    header{
      
        background-color:#2d2e86;
        border: 1px solid #000;
        box-shadow: 0 0 30px #000;
        width:100%;
        overflow:auto;
    
    
       
    }
    
    
    
    header img{
        width:21%;
        display:block;
        float:left;
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 7%;
        margin-bottom: 2%;
    
        
    
    }
    
    

/*----nav---*/


nav button{
    display:none;
}

nav{
    color:#fff;
    font-family: 'Roboto', sans-serif;
   background-color:#9294c9;


    

    }

nav ul li {
     float:left;
     
     }


nav ul{
        list-style-type:none;
        margin-left:25rem;
     }


     nav ul li a{
        display:block;
        padding:.6rem 1rem;
        text-decoration: none;
        color: #fff;
        font-weight:bold;
    
        
          
         }
      
         nav ul li .active a{
          background-color:rgba(0,0,0,0.3);
          color:#fff;
      
      
      }
      
      
      
      nav ul li a:hover{
          background-color:rgba(0,0,0,0.4);
          
      
      }


















/*---top---*/

main{
    clear:both;
}

main>h2{
    font-family: 'Roboto', sans-serif;
    font-size:2em;
    text-align:center;
    border-bottom-color: #fff;
   

}


    #weatherBox{
        background-color:rgba(45,46,134,60%);
        width:35%;
        position:relative;
        top:-355px;
        left:2%;
        color:#fff;
        text-decoration:none;
        box-shadow: 10px, 5px, #000;
        
        
    
        
        
    
        
    }

    #weathersummary{
        font-family: 'Roboto', sans-serif, bold;
        font-size:2.5em;
        padding-top: 5%;
        text-align: center;
        border-bottom-color: #fff;
    }

    
    
   



.left{
    font-size:2.5em;
    float:left;
    text-align:right;
    margin-left:auto;
    
  
   
 }

.right{
    font-weight:bold;
    color: #eccb0b;
    font-size:2.5em;
    margin-left:3%;
    margin-right:auto;
    
   
    
   
 }

 main{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}






 /*middle*/
 #middle{
    background-color:#9294c9;
    margin-right:auto;
    margin-left:auto;
    width:95%;
    border: 1px solid #000;
}

#founders{
    margin-left:3%;
    font-size:2em;

}




#author{
    font-style:italic;
    margin-left:3%;
    margin-top:-2%;
}


article img{
   display:block;
   margin-right:auto;
   margin-left:auto;
   padding-top:10px;
   float:right;

}

#article {
    width:50%;
    text-align:left;
    font-size:1em;
    margin:5%;
    line-height:2.5em;


}

#forecast{
    color:#000;
   margin-left:50px;
   font-size:3em;
   text-align:center; 
}


 /*bottom*/

 #bottom{
    width:100%;
    font-style:normal;
    background-color:#9294c9;
    margin-right:auto;
    margin-left:auto;
    overflow-x:hidden;
    margin-top:10%;
    

}

#cloudswatching{
    font-size:2em;
    padding-left:10%;
}

.street{
    line-height:.5em;
    text-align:left;
    padding-left:8%;
    margin-top:-1%;

}

.contact{
    margin-top:5%;
    line-height:.5em; 
    text-align:left;
    padding-left:8%;

}

#map{
    width:35%;
    margin-top:-15%;
    padding-bottom:5%;

  


}






/*footer*/  
    


footer p{
    font-family: 'Roboto', sans-serif;
    font-size:0.75em;
   

}


footer{
    background-color:#2d2e86;
    color:#fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    clear:both;

}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}


}