@media  (max-width: 600px) {
    
    
    body,main,footer{
        min-width:320px;
        max-width:600px;
    }



html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size:1em;

}

ul {

    list-style:none;
    padding: 0;
    margin:0;

}


 /*---------------------header-------------------*/




 h1{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-left: 35%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 13%;
    margin-bottom: 0px;
    }

#motto{
    font-family: 'Roboto', sans-serif;
    font-size:.7em;
    font-style:italic;
    color:#fff;
    margin-bottom: 5%;
    margin-top: 1%;
    padding-bottom: 5%;
  
}

header{
  
    background-color:#2d2e86;
    border: 1px solid #000;
    box-shadow: 0 0 30px #000;
    width:100%;
    overflow:auto;


   
}



header img{
    width:21%;
    display:block;
    float:left;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 2%;

    

}







/*nav*/

.large{
    display:none;
}




nav{
    margin-top:-15px;
    background-color:#9294c9;
    width:100%;
    height:30px;
    clear:both;
   
   

}

nav li{
   padding:5px;
   text-align:center;
    
    
}

li>a{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    text-decoration:none;
   }




nav li:visited{
    background-color:#2d2e86;

}

nav li:hover{
    background-color:#2d2e86;
    

}

nav li:active{
    background-color:#2d2e86;


}

/*section>h1{
    text-align:center;*/


}



/*---responsive nav---*/

  /* nav {	margin: 0 auto;	max-width: 760px; background-color: #000;	}
  .small { list-style: none; text-align: center; }
  .small li:first-child { display: block;}
  .small li { display: none;}
  .small a {display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .small a:hover {	color: #000; background-color: #fff; font-weight: 700;	}


  @media only screen and (min-width: 45em) {
  .small li:first-child { display: none;	}
  .small li { display: inline-block; margin-right: 1rem;}	
  .small li a { color: yellow;}
  }*/

 /*----------------------top---------------------------------------------*/

 #weatherBox{
    background-color:rgba(45,46,134,60%);
    width:60%;
    position:relative;
    top:-355px;
    left:2%;
    color:#fff;
    text-decoration:none;
    box-shadow: 10px, 5px, #000;
    overflow:auto;
    

    
    

    
}


#tempcontainer{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.left{
    font-size:.7em;
    float:left;
    text-align:right;
    margin-left:auto;
    
  
   
 }

.right{
    font-weight:bold;
    color: #eccb0b;
    font-size:.7em;
    margin-left:3%;
    margin-right:auto;
    
   
    
   
 }

 #middle{
     margin-top:-80px;
 }


main{
    width:90%;
    margin-right:auto;
    margin-left:auto;
} 


main>h2{
    font-family: 'Roboto', sans-serif;
    font-size:1.75em;
    text-align: center;
   

}
picture{
    box-shadow: 0 0 20px #000;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10%;

}


 /*middle*/
 #middle{
    background-color:#9294c9;
    margin-right:5%;
    margin-left:5%;
    width:90%;
    border: 1px solid #000;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size:1.75em;
    border-bottom:10px, solid, #fff;
    margin-left: 22.038;
    margin-left: 22.038;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5%;
    padding-top:10px;

    


}

article img{
    width:90%;
   display:block;
   margin-right:auto;
   margin-left:auto;
   padding-top:10px;

}

article p{
    padding-left:20px;
    padding-right:20px;
}


#weathersummary{
    font-family: 'Roboto', sans-serif, bold;
    font-size:.8em;
    padding-top: 5%;
    text-align: center;
    border-bottom-color: #fff;
}

 /*bottom*/

 #cloudswatching{
    font-family: 'Roboto', sans-serif, bold;
    font-size:1em;
    padding-top:2%;
    margin-left:9.5%;
}

 #bottom{
    width:100%;
    font-style:normal;
    background-color:#9294c9;

}

.street{
    line-height:.5em;

}

.contact{
    line-height:.5em; 
}

#map{
    width:90%;
    display:block;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:10px;
    

}

address{
    font-style:normal;
    padding-left:9.5%;
    
}

 /*footer*/  
    


footer p{
    font-family: 'Roboto', sans-serif;
    font-size:0.75em;
   

}


footer{
    background-color:#2d2e86;
    color:#fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;

}



