h1{
    font-family: 'Roboto', sans-serif, bold;
    font-size:24px;

}

header h1{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    

}

header{
    margin:10px auto;
    background-color:#2d2e86;
    border: 1px solid #000;
    box-shadow: 0 0 30px #000;
    text-align:center;
}

header img, .headings{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    display:inline-block;
    vertical-align:middle;
    margin:10px;
    
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size:20px;

}

.motto{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-style:italic;
    color:#fff;


}

p{
    font-family: 'Roboto', sans-serif;
    font-size:16px;

}

nav li{
    background-color:#9294c9;
    width: 220px;
	padding: 6px;
	padding-left: 30px;

}

li>a{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    text-decoration:none;
    text-align:center;
    

}

nav ul{
    list-style:none;
    text-align:center;

}

footer p{
    font-family: 'Roboto', sans-serif;
    font-size:12px;

}



nav li:visited{
    background-color:#2d2e86;

}

nav li:hover{
    background-color:#2d2e86;
    

}

nav li:active{
    background-color:#2d2e86;


}