@media (min-width:601px) and (max-width:960px){

    body,main,footer{
            min-width:601px;
            
        }
    
    html, body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
    }
    
   h3,h2,h1,li, p{
        font-family: 'Roboto', sans-serif;
        font-size:1em;
    
    }
    
    
    
     /*---------------------header-------------------*/
    
    
    
    

    header{
      
        background-color:#2d2e86;
        border: 1px solid #000;
        box-shadow: 0 0 30px #000;
        width:100%;
        overflow:auto;
        display:flex;
        justify-content:center;
    
    
       
    }
    
    
    
    header img{
        width:10em;
        display:block;
   
    
        
    
    }

   header h1{
        color:#fff;
        font-size: 2.5em;
        }
    
    #motto{
        font-family: 'Roboto', sans-serif;
        font-size:1em;
        font-style:italic;
        color:#fff;
        margin-bottom: 5%;
        margin-top: 1%;
        padding-bottom: 5%;
      
    }
    
    
    

/*----------------------------nav-------------------------------------------*/


nav{
    color:#fff;
    font-family: 'Roboto', sans-serif;
   background-color:#9294c9;
 }

/*-------javascritpt-toggle----*/
 nav button{
    display:none;
}
/*----------------------*/
nav ul{
    display:flex;
    list-style-type:none;
    margin-left:25rem;
 }

 nav ul li {
     flex:1;
 }







nav ul li a{
        display:inline-block;
        padding:.6rem 1rem;
        text-decoration: none;
        color: #fff;
        font-weight:bold;
    
        
          
         }
      
nav ul li .active a{
          background-color:rgba(0,0,0,0.3);
          color:#fff;
      
      
      }
      
      
      
nav ul li a:hover{
          background-color:rgba(0,0,0,0.4);
          
      
      }

      /*-------main------*/


      main{
          width:75%;
          margin:auto;
          padding:auto;
      }

      main h1{
        color:rgba(45,46,134,60%);
        font-size: 3em;
        }


     /*#flexTop{
          display:flex;
          align-content:center;
          
         
        
        }


      #flexBottom{
       display:flex;
       align-content:center;
       
        
        
        }*/

      
     .gridcontainer{
        margin: 1rem auto; 
        display:grid; 
        grid-template-columns: 1fr 1fr ; 
        max-width: 960px;
    }

    

      
        img{
          padding:1em;

      }

      figcaption{
          margin-left:1em;
          font-family: 'Roboto', sans-serif;
      }




    
































       /*footer*/  
    


footer p{
    font-family: 'Roboto', sans-serif;
    font-size:0.75em;
   

}


footer{
    background-color:#2d2e86;
    color:#fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;

}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}

}